/* Default styling for body */
body {
  padding: 0;
  margin: 0;
  background-image: url("../images/maths-transparent.png");
  background-size: cover;
  background-position: center top;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  background-color: #000000;
  padding: 32px;
  border-radius: 32px;
  border: 2px solid #fff;
  margin: 64px auto;
  width: 52vw;
}

.display input {
  margin: 2px;
  padding: 5px;
  width: auto;
  height: 64px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
}

button:hover {
  opacity: 0.8;
  border: 2px solid white;
}

.btn {
  margin: 2px;
  padding: 5px;
  width: 64px;
  height: 64px;
  background-color: #333333;
  border: none;
  border-radius: 32px;
  color: #ffffff;
}

button.btn.symbols {
  background-color: #f0a33b;
}

button.btn.grey {
  background-color: #a5a5a5;
}

button.btn.dark-grey {
  background-color: #212121;
}

button.btn.red {
  background-color: #ff0000;
}

button.btn.green {
  background-color: #007500;
}

button.btn.expand {
  display: none;
}

#zero {
  width: 136px;
}

/* Media query for tablets */
@media only screen and (max-width: 996px) {
  button.btn.hide {
    display: none;
  }

  button.btn.red {
    position: absolute;
    top: 616px;
  }

  button.btn.expand {
    display: block;
    position: absolute;
    top: 615px;
    margin-left: 76px;
    background-color: rgb(0, 102, 255);
  }

  .visible {
    position: absolute;
    top: 684px;
  }

  .c-brace {
    margin-left: 73px;
  }

  .x-pow-two {
    margin-left: 146px;
  }

  .x-pow-three {
    margin-left: 219px;
  }

  button.visible.log {
    top: 752px;
  }

  button.visible.x-sqrt {
    top: 752px;
    margin-left: 73px;
  }

  button.visible.x-cbrt {
    top: 752px;
    margin-left: 146px;
  }

  button.visible.ln {
    top: 752px;
    margin-left: 219px;
  }

  button.visible.sin {
    top: 820px;
  }

  button.visible.cos {
    top: 820px;
    margin-left: 73px;
  }

  button.visible.tan {
    top: 820px;
    margin-left: 146px;
  }

  button.visible.inv {
    top: 820px;
    margin-left: 219px;
  }

  button.visible.sym-e {
    top: 888px;
    margin-left: 73px;
  }

  button.visible.sym-pi {
    top: 888px;
    margin-left: 146px;
  }

  .container {
    padding-bottom: 320px;
  }
}

/* Media query for mobile phones */
@media only screen and (max-width: 548px) {
  h1 {
    font-size: 1em;
  }
  .container {
    width: 70vw;
  }
  .btn {
    width: 48px;
    height: 48px;
  }
  #zero {
    width: 102px;
  }
  button.btn.red {
    position: absolute;
    top: 517px;
  }
  button.btn.expand {
    top: 517px;
    margin-left: 60px;
  }
  .o-brace {
    top: 570px;
  }

  .c-brace {
    top: 570px;
    margin-left: 57px;
  }

  .x-pow-two {
    top: 570px;
    margin-left: 114px;
  }

  .x-pow-three {
    top: 570px;
    margin-left: 171px;
  }

  button.visible.log {
    top: 623px;
  }

  button.visible.x-sqrt {
    top: 623px;
    margin-left: 57px;
  }

  button.visible.x-cbrt {
    top: 623px;
    margin-left: 114px;
  }

  button.visible.ln {
    top: 623px;
    margin-left: 171px;
  }

  button.visible.sin {
    top: 676px;
  }

  button.visible.cos {
    top: 676px;
    margin-left: 57px;
  }

  button.visible.tan {
    top: 676px;
    margin-left: 114px;
  }

  button.visible.inv {
    top: 676px;
    margin-left: 171px;
  }

  button.visible.sym-e {
    top: 729px;
    margin-left: 57px;
  }

  button.visible.sym-pi {
    top: 729px;
    margin-left: 114px;
  }

  .container {
    padding-bottom: 250px;
  }
}
