/* Default styling for body */
body {
  padding: 0;
  margin: 0;
  background-color:#a5a5a5;
}

h1 {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  background-color: #000000;
  padding: 32px;
  border-radius: 32px;
  margin: 64px auto;
  width: 52vw;
}

.display input {
  margin: 2px;
  padding: 5px;
  width: auto;
  height: 64px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
}

.btn {
  margin: 2px;
  padding: 5px;
  width: 64px;
  height: 64px;
  background-color: #333333;
  border: none;
  border-radius: 32px;
  color: #ffffff;
}

button.btn.symbols {
  background-color: #f0a33b;
}

button.btn.grey {
  background-color: #a5a5a5;
}

button.btn.dark-grey {
  background-color: #212121;
}

button.btn.red {
  background-color: #ff0000;
}

button.btn.green {
    background-color: #007500;
}

button.btn.expand {
  display: none;
}

#zero {
  width: 136px;
}

@media only screen and (max-width: 996px) {
  button.btn.hide {
    display: none;
  }

  button.btn.red {
    position: absolute;
    top: 616px;
  }

  button.btn.expand {
    display: block;
    position: absolute;
    top: 615px;
    margin-left: 76px;
    background-color: rgb(0, 102, 255);
  }
}
